extends html

snippet div.
	<div className='${1}'>
		${0}
	</div>

snippet cn
	className='${1}'

snippet rfc
	const ${1} = (${2}) => {
		return (
			${0}
		)
	}

snippet trfc
	type ${1}Props = {
		${2}
	}

	const ${1} = (props: ${1}Props) => {
		return (
			${0}
		)
	}
